# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User special
documents
geant4_workdir
dmpsw_workdir
main
tmp
.*
!.vimrc
!.vim
!.zprofile
!.zshrc

#.Trash
#.bash*
#.emacs*
#.root*
#.viminfo
#.Xauthority
#.Xdefaults
#.dbus
#.g4_hist
#.gconfd
#.gitconfig
#.gnome2
#.history
#.proof
#.recently-used.xbel
#.ssh
#.subversion
#.zcompdump
#.zhistory

software
!software/SoftwareSetup.sh
!software/SysSoftwareSetup.sh
Desktop
Downloads
bin/Backup

