# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User special
documents
g4work
main
tmp
.Trash
.bash*
.emacs*
.root*
.viminfo
